*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:Arial;
background:#111;
color:white;
min-height:100vh;

}

/* LOGIN PAGE */

.login-container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:url('../images/anime_banner.jpg');

background-size:cover;

background-position:center;

}

.login-box{

width:400px;

background:rgba(0,0,0,0.8);

padding:30px;

border-radius:10px;

text-align:center;

box-shadow:0 0 20px #ffcc00;

}

.login-box h1{

color:#ffcc00;

margin-bottom:10px;

}

.login-box p{

margin-bottom:20px;

}

.login-box input{

width:100%;

padding:12px;

margin:10px 0;

border:none;

border-radius:5px;

}

.btn{

width:100%;

padding:12px;

background:#ffcc00;

border:none;

font-weight:bold;

cursor:pointer;

margin-top:10px;

}

.btn:hover{

background:#ffd633;

}

.login-box a{

color:#ffcc00;

text-decoration:none;

}

/* HEADER */

header{

background:#000;

padding:20px;

text-align:center;

color:#ffcc00;

}

/* NAVBAR */

nav{

background:#222;

overflow:hidden;

}

nav a{

float:left;

color:white;

padding:14px 20px;

text-decoration:none;

}

nav a:hover{

background:#ffcc00;

color:black;

}

/* CONTAINER */

.container{

width:90%;

margin:auto;

padding:20px;

}

/* HERO */

.hero{

height:400px;

background:url('../images/anime_banner.jpg');

background-size:cover;

background-position:center;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

border-radius:10px;

margin-bottom:30px;

text-align:center;

}

.hero h1{

font-size:50px;

background:rgba(0,0,0,0.7);

padding:10px 20px;

}

/* PRODUCTS */

.product{

float:left;

width:30%;

margin:1.66%;

background:#1c1c1c;

padding:15px;

text-align:center;

border-radius:10px;

transition:0.3s;

}

.product:hover{

transform:scale(1.05);

box-shadow:0 0 20px #ffcc00;

}

.product img{

width:100%;

height:220px;

object-fit:cover;

border-radius:10px;

}

.product p{

color:#ffcc00;

margin:10px 0;

}

.clearfix::after{

content:"";

display:block;

clear:both;

}

/* FOOTER */

footer{

background:#000;

padding:15px;

text-align:center;

margin-top:20px;

}
table{

width:100%;
background:white;
color:black;
border-collapse:collapse;

}

th,td{

border:1px solid #ddd;
padding:12px;
text-align:center;

}

.qty-btn{

padding:5px 10px;
background:#222;
color:white;
border:none;
cursor:pointer;
margin:0 5px;

}

.qty-btn:hover{

background:#ffcc00;
color:black;

}
.form-box{

width:450px;

background:#1c1c1c;

padding:30px;

margin:40px auto;

border-radius:10px;

box-shadow:0 0 15px #ffcc00;

}